.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #f9f9f9;
}

.featureSvg {
  height: 200px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 0 10px #ddd;
}
